name = "botku"
main = "src/_worker.js"
compatibility_date = "2025-11-08"

[[kv_namespaces]]
binding = "DATA_DB"
id = "<KV_NAMESPACE_ID>"

[vars]
SERVERVLESS = "vless.example.com"
SERVERTROJAN = "trojan.example.com"
SERVERWILDCARD = "wc.example.com"
API_URL = "https://ip.example.com/api?ip="
API_DOMPUL = "http://api.example.com/cek_kuota?msisdn="
SUPPORT_IMAGE_URL = "https://raw.githubusercontent.com/muhaip2/botku/a0421fca48e383cf05a3a49114702c924b571745/Kode%20QR.jpg"
WATERMARK = " ADMIN t.me/swdstore2"
